/* css resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
  list-style: none;
}

/* utility class */
.flex {
  display: flex;
}

/* Leaderboard */
h1 {
  margin: 3rem;
  /* stylelint-disable-next-line csstree/validator */
  font-size: clamp(1rem, 7vw, 3rem);
}

.leaderboard {
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

/* score */
.score {
  max-width: 25rem;
  width: 100%;
}

.scores {
  border: 1px solid;
  margin-top: 0.5rem;
  padding: 0.2rem;
}

.recent {
  justify-content: space-between;
}

/* form */
.form {
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  height: 10.5rem;
  max-width: 25rem;
}

.leader {
  margin: 0.5rem auto;
  height: 2rem;
  width: 100%;
}

.submit {
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
}

span {
  font-size: large;
  font-weight: 700;
}

.footer {
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: grey;
  width: 100%;
}

button {
  filter: drop-shadow(1px 1px 1px);
}

.foot {
  color: aliceblue;
}
